{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Popular Movies</h1>
    <div class="container-fluid">
        <div class="scroll-container">
            {% for movie in movies %}
            <div class="">
                <a href="{% url 'movie_detail' movie.tmdb_id %}">
                    <img src="{{ movie.poster_path }}" alt="{{ movie.title }} poster" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <h1>Popular TV Series</h1>
    <div class="container-fluid">
        <div class="scroll-container">
            {% for series in series %}
            <div class="">
                <a href="{% url 'series_detail' series.tmdb_id %}">
                    <img src="{{ series.poster_path }}" alt="{{ series.title }} poster" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}