{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Series</h1>

    <!-- Toggle Filter Button -->
    <div class="d-flex justify-content-end">
        <button id="toggleFilterButton" class="btn btn-secondary mb-3">Show Filters</button>
    </div>

    <!-- Filter Form -->
    <div id="filterFormContainer" style="display: none;">
        <form id="filterForm" method="GET" action="{% url 'series' %}">
            <div class="row">
                <div class="col-md-3">
                    <label for="genre">Genre</label>
                    <select name="genre" class="form-control">
                        <option value="">-- All Genres --</option>
                        {% for genre in form.genre.field.queryset %}
                            <option value="{{ genre.id }}" {% if form.genre.value == genre.id %}selected{% endif %}>{{ genre.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="first_air_date">First Air Date</label>
                    <input type="date" name="first_air_date" class="form-control" value="{{ form.first_air_date.value|default_if_none:'' }}">
                </div>
                <div class="col-md-3">
                    <label for="last_air_date">Last Air Date</label>
                    <input type="date" name="last_air_date" class="form-control" value="{{ form.last_air_date.value|default_if_none:'' }}">
                </div>
                <div class="col-md-3">
                    <label for="number_of_seasons">Number of Seasons</label>
                    <input type="number" name="number_of_seasons" min="1" class="form-control" value="{{ form.number_of_seasons.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mt-3">
                <button id="applyFilterButton" type="submit" class="btn btn-primary">Apply Filters</button>
                <a href="{% url 'series' %}" class="btn btn-secondary">Clear Filters</a>
            </div>
        </form>
    </div>

    <div class="scroll-container-vertical">
        <div class="row mt-4" id="seriesContainer">
            {% for series in series %}
            <div class="col-6 col-sm-3 col-lg-2 mb-4">
                <div class="poster">
                    <a href="{% url 'series_detail' series.tmdb_id %}">
                        <img src="{{ series.poster_path }}" alt="{{ series.title }} poster" class="img-fluid">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/filters.js' %}"></script>
{% endblock %}