/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-color: #f7c600;
    --secondary-color: #000000;
    --container-color: #191919;
    --shadow-color: #505050;
    --font-color: #ffffff;
    --font-details-color: #919191;
    --logo-color: #f2f0f1;
    --primary-font: 'Inter', sans-serif;
    --logo-font: 'Atma', cursive;
}

/* Global Styles */
body {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-color) 0%, var(--secondary-color) 100%, var(--secondary-color) 100%);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    color: var(--font-color);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > *:not(footer) {
    flex: 1;
}

/* Navbar Styling */
.navbar {
    border: 2px solid #000000;
    margin: 20px;
    border-radius: 5px;
    background-color: #0a0a0a;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

/* Search Form Styling */
.search-form {
    display: flex;
    align-items: center;
    max-width: 400px;
}

.search-form input[type="search"] {
    flex: 1;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    background-color: var(--container-color);
    color: var(--font-color);
    font-family: var(--primary-font);
}

.search-form .form-control::placeholder {
    color: var(--font-details-color); /* Change the color to your desired value */
}

.search-form button[type="submit"] {
    padding: 7px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.search-form button[type="submit"]:hover {
    opacity: 0.9;
}

/* Alert Message Styling */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--font-color);
    background-color: var(--container-color);
}

.alert p {
    list-style: none;
    margin: 0;
    padding: 0;
    color: pink;
}

/* Logo Styling */
.logo {
    font-family: var(--logo-font);
    font-size: 1.2rem;
    color: var(--logo-color);
    font-weight: 700;
    text-shadow: 1px 1px 1px #818181;
}

/* Navigation Text Styling */
.nav-text {
    color: #818181;
}

.current {
    color: #ffffff;
}

.nav-text:hover {
    color: #f7c600;
}

/* Heading Styling */
h1 {
    font-weight: 700;
    font-family: var(--logo-font);
    text-shadow: 1px 1px 1px #818181;
}

h2 {
    font-weight: 700;
    font-family: var(--logo-font);
    text-shadow: 1px 1px 1px #818181;
}

/* Scroll Container Styling */
.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 20px;
}

.scroll-container img {
    margin-right: 10px;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    transition: box-shadow 0.5s ease-in-out;
}

.scroll-container img:hover {
    box-shadow: 0px 0px 10px 5px var(--shadow-color);
}

/* Poster Styling */
.poster {
    margin-right: 10px;
    margin-bottom: 10px;
}

.poster img {
    border-radius: 10px;
    width: 100%; /* Ensure the image takes the full width of the column */
    height: auto; /* Maintain aspect ratio */
    transition: box-shadow 0.5s ease-in-out;
    aspect-ratio: 2/3; /* Maintain aspect ratio of 2:3 */
}

.poster img:hover {
    box-shadow: 0px 0px 10px 5px var(--shadow-color);
}

/* Custom Scrollbar Styling */
.scroll-container::-webkit-scrollbar {
    height: 12px; /* Height of the horizontal scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Filter Form Styling */
#filterFormContainer {
    background-color: var(--container-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
    margin-bottom: 20px;
}

#filterForm label {
    font-weight: bold;
    color: var(--font-color);
}

#filterForm .form-control {
    background-color: var(--input-bg-color);
    color: var(--primary-color);
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px var(--shadow-color);
}

#filterForm .btn-primary {
    background-color: var(--primary-color);
    border: none;
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

#filterForm .btn-primary:hover {
    opacity: 0.9;
}

/* Toggle Filter Button Styling */
#toggleFilterButton {
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

#toggleFilterButton:hover {
    opacity: 0.9;
}

/* Form Styling */
.login-form,
.signup-form,
.logout-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--container-color); /* Use container color */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

.login-form h1,
.signup-form h1,
.logout-form h1 {
    font-family: var(--logo-font);
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.login-form label,
.signup-form label,
.logout-form label {
    font-weight: bold;
    color: var(--font-color);
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="email"],
.logout-form input[type="text"],
.logout-form input[type="password"],
.logout-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px var(--shadow-color);
}

.login-form .btn,
.signup-form .btn,
.logout-form .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.login-form .btn-primary,
.signup-form .btn-primary,
.logout-form .btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.login-form .btn-secondary,
.signup-form .btn-secondary,
.logout-form .btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.login-form .btn:hover,
.signup-form .btn:hover,
.logout-form .btn:hover {
    opacity: 0.9;
}

.login-form a,
.signup-form a,
.logout-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.login-form a:hover,
.signup-form a:hover,
.logout-form a:hover {
    text-decoration: underline;
}

/* Details Box Styling */
.details-box {
    padding: 20px;
    background-color: var(--container-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

.details-font {
    font-size: 0.75rem;
    color: var(--font-details-color);
    
}

.details-poster img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Review Box Styling */
.review-box {
    padding: 10px;
    background-color: var(--container-color);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px var(--shadow-color);
    margin-bottom: 20px;
}

.faded {
    opacity: 0.5;
}

/* Review Form Styling */
.review-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--container-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

.review-form label {
    font-weight: bold;
    color: var(--font-color);
}

.review-form input[type="number"],
.review-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px var(--shadow-color);
    background-color: var(--container-color);
    color: var(--font-color);
}

.review-form .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.review-form .btn:hover {
    opacity: 0.9;
}

/* Button Styling */
.btn-edit {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    width: 100px;
    text-transform: uppercase;
}

.btn-delete {
    background-color: var(--secondary-color);
    color: var (--primary-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    width: 100px;
    text-transform: uppercase;
}

.draft-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.draft-btn:hover {
    opacity: 0.9;
}

/* Scrollable Reviews Styling */
.scrollable-reviews {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    background-color: var(--container-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

.scrollable-reviews strong {
    color: var(--primary-color);
}

.scrollable-reviews small {
    color: var(--shadow-color);
}

.scrollable-reviews::-webkit-scrollbar {
    width: 12px;
}

.scrollable-reviews::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable-reviews::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.scrollable-reviews::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scroll Container Seasons Styling */
.scroll-container-seasons {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 20px;
}

.scroll-container-seasons .season-poster {
    text-align: center;
    margin-right: 15px; /* Add margin to separate each season poster */
}

.scroll-container-seasons img {
    border-radius: 10px;
    width: 150px;
    height: auto;
    transition: box-shadow 0.5s ease-in-out;
}

.scroll-container-seasons img:hover {
    box-shadow: 0px 0px 10px 5px var(--shadow-color);
}

.scroll-container-seasons p {
    margin-top: 5px;
    font-size: 1rem;
    color: var(--font-color);
}

/* Custom Scrollbar Styling */
.scroll-container-seasons::-webkit-scrollbar {
    height: 12px; /* Height of the horizontal scrollbar */
}

.scroll-container-seasons::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

.scroll-container-seasons::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.scroll-container-seasons::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Modal Styling */
.modal-content {
    background-color: var(--container-color);
    color: var(--font-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

.modal-header {
    border-bottom: 1px solid var(--shadow-color);
}

.modal-title {
    font-family: var(--logo-font);
    color: var(--primary-color);
}

.btn-close {
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out;
}

.btn-close:hover {
    opacity: 0.9;
}

.modal-footer {
    border-top: 1px solid var(--shadow-color);
}

.modal-footer .btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.modal-footer .btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Footer Styling */
footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    font-size: 0.8rem;
}

/* Social Icons Styling */
.social-icons a {
    margin-left: 10px; /* Adjust the spacing as needed */
    color: white; /* Ensure the icons are white */
    text-decoration: none; /* Remove underline */
}

.social-icons a i {
    font-size: 1.5rem; /* Adjust the size as needed */
    transition: color 0.3s ease; /* Add a transition effect */
}

.social-icons a:hover i {
    color: var(--primary-color); /* Change color on hover */
}