/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --primary-color: #f7c600;
    --secondary-color: #000000;
    --shadow-color: #505050;
    --font-color: #000000;
    --primary-font: 'Inter', sans-serif;
    --logo-font: 'Atma', cursive;
    --logo-color: #f2f0f1;
}


body {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-color) 0%, var(--secondary-color) 100%, var(--secondary-color) 100%);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    color: var(--font-color);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > *:not(footer) {
    flex: 1;
}

footer {
    background-color: #0a0a0a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar {
    border: 2px solid #000000; /* Add a border around the navbar */
    margin: 20px;
    border-radius: 5px; /* Optional: Add rounded corners */
    background-color: #0a0a0a;
    box-shadow: 0px 0px 10px 1px #505050;
}


.logo {
    font-family: var(--logo-font);
    font-size: 1.2rem;
    color: var(--logo-color);
    font-weight: 700;
    text-shadow: 1px 1px 1px #818181;
}

.nav-text {
    color: #818181;
}

.current {
    color: #ffffff; /* Change this to your desired color */
}

.nav-text:hover {
    color: #f7c600;
}

h1 {
    font-weight: 700;
    font-family: var(--logo-font);
    text-shadow: 1px 1px 1px #818181;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 20px;
}

.scroll-container img {
    margin-right: 10px;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    transition: box-shadow 0.5s ease-in-out;
}

.scroll-container img:hover {
    box-shadow: 0px 0px 10px 5px #505050;
}

.poster {
    margin-right: 10px;
    margin-bottom: 10px;
}

.poster img {
    border-radius: 10px;
    width: 100%; /* Ensure the image takes the full width of the column */
    height: auto; /* Maintain aspect ratio */
    transition: box-shadow 0.5s ease-in-out;
}

.poster img:hover {
    box-shadow: 0px 0px 10px 5px #505050;
}

/* Custom scrollbar styling */
.scroll-container::-webkit-scrollbar {
    height: 12px; /* Height of the horizontal scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Form Styling */
.login-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

.login-form h1 {
    font-family: var(--logo-font);
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    font-weight: bold;
    color: var(--font-color);
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px var(--shadow-color);
}

.login-form .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.login-form .btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.login-form .btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.login-form .btn:hover {
    opacity: 0.9;
}

.login-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

/* Form Styling */
.signup-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

.signup-form h1 {
    font-family: var(--logo-font);
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.signup-form p {
    text-align: center;
    color: var(--font-color);
    margin-bottom: 20px;
}

.signup-form label {
    font-weight: bold;
    color: var(--font-color);
    display: block; /* Ensure labels are block elements */
    text-align: left; /* Align labels to the left */
    margin-bottom: 5px; /* Add some space below the labels */
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px var(--shadow-color);
}

.signup-form .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.signup-form .btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.signup-form .btn:hover {
    opacity: 0.9;
}

.signup-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}

/* Form Styling */
.logout-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--shadow-color);
}

.logout-form h1 {
    font-family: var(--logo-font);
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.logout-form p {
    text-align: center;
    color: var(--font-color);
    margin-bottom: 20px;
}

.logout-form label {
    font-weight: bold;
    color: var(--font-color);
    display: block; /* Ensure labels are block elements */
    text-align: left; /* Align labels to the left */
    margin-bottom: 5px; /* Add some space below the labels */
}

.logout-form input[type="text"],
.logout-form input[type="password"],
.logout-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px var(--shadow-color);
}

.logout-form .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.logout-form .btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logout-form .btn:hover {
    opacity: 0.9;
}

.logout-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.logout-form a:hover {
    text-decoration: underline;
}

/* Media Queries for responsive design */
@media (min-width: 576px) {
    .poster img {
        width: 150px;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .poster img {
        width: 185px;
        height: 222px;
    }
}

@media (min-width: 992px) {
    .poster img {
        width: 200px;
        height: 250px;
    }
}
